#content {
  height: 100%;
  width: 100%;
  background: white;
  font-family: Helvetica, sans-serif;
  -webkit-transform-origin: 0% 0%;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  overflow: hidden;
}
#output {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25%;
  background: rgba(255,255,255,0.4);
  padding-left: 40px;
  display: none;
}

#category_axis {
  position: relative;
  white-space: nowrap;
  margin-left: 64px;
  background: #332;
  height: 64px;
  color: white;
background: #606060; /* Old browsers */
background: -moz-linear-gradient(top, #606060 0%, #494949 47%, #333322 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(47%,#494949), color-stop(99%,#333322)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #606060 0%,#494949 47%,#333322 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #606060 0%,#494949 47%,#333322 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #606060 0%,#494949 47%,#333322 99%); /* IE10+ */
background: linear-gradient(to bottom, #606060 0%,#494949 47%,#333322 99%); /* W3C */
}
#category_header_container {
  position: absolute;
  top: 32px;
  height: 32px;
  display: inline-block;
  white-space: nowrap;
  color: white;
  -webkit-transition: opacity 1s;
}

#category_header_container.hidden {
  -webkit-transition: opacity 0;
  opacity: 0;
}
#category_header_container.animated {
}
#category_headers {
  display: inline-block;
}
#category_title {
  position: absolute;
  top: 0;
  line-height: 32px;
  font-size: 20px;
  padding-left: .5em;
}
.cat {
  text-align: center;
  display: inline-block;
  line-height: 2em;
  width: 200px;
}

#dimension_axis {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 64px;
  font-size: 20px;
  background: #332;
  color: white;
}

#dimension_title {
  -webkit-transform: rotateZ(-90deg);
  position: absolute;
  top: 120px;
  left: 0;
  margin-left: -16px;
}

#columns {
  width: 6000px;
  height: 6000px;
}

#data {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 64px;
  background-color: #bbb;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.col {
  width: 200px;
  overflow: hidden;
  float: left;
}

.listing {
  box-sizing: border-box;
  white-space: normal;
  width: 100%;
  height: 200px;
  padding: 20px;
  overflow: hidden;
  background: white;
}


.listing h2 {
  margin: 0;
  font-size: 14px;
}

.img-wrapper {
  position: relative;
}

.price {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  padding: 4px 10px;
  background-color: rgba(0,0,0,0.4);
}

.not-transposed {
  -webkit-transform: rotateZ(0deg);
}

.transposed-left {
  -webkit-transform: rotateZ(-90deg);
}
.transposed-right {
  -webkit-transform: rotateZ(90deg);
}

.details {
    background: white;
    border: 4px solid black;
    overflow:hidden;
}
.details > img {
    width: 40px;
    height: 40px;
}
.detailframe {
    position:absolute;
    top:0;
    left:0;
    margin: 40px;
    width: 90%;
    height: 90%;
    border:0;
    overflow-x: hidden;
}
.dimg {
    display:none;
    z-index: 200;
}
.i-up {
    position: absolute;
    top: 3px;
    left: 50%;
}
.i-down {
    position: absolute;
    bottom:0;
    left: 50%;
}
.i-left {
    position: absolute;
    left: 0;
    top: 50%;
}
.i-right {
    position: absolute;
    right: 0;
    top:50%;
}
