#content {
  height: 100%;
  width: 100%;
  background: white;
  font-family: Helvetica, sans-serif;
  -webkit-transform-origin: 0% 0%;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  overflow: hidden;
}
#output {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25%;
  background: rgba(255,255,255,0.4);
  padding-left: 40px;
  display: none;
}

#category_axis {
  position: relative;
  white-space: nowrap;
  margin-left: 64px;
  background: #332;
  height: 64px;
  color: white;
}
#category_header_container {
  position: absolute;
  top: 32px;
  height: 32px;
  display: inline-block;
  white-space: nowrap;
  background: #332;
  color: white;
  -webkit-transition: opacity 1s;
}

#category_header_container.hidden {
  -webkit-transition: opacity 0;
  opacity: 0;
}
#category_header_container.animated {
}
#category_headers {
  display: inline-block;
}
#category_title {
  position: absolute;
  top: 0;
  line-height: 32px;
  font-size: 20px;
  padding-left: .5em;
}
.cat {
  text-align: center;
  display: inline-block;
  line-height: 2em;
  width: 200px;
}

#dimension_axis {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 64px;
  font-size: 20px;
  background: #332;
  color: white;
}

#dimension_title {
  -webkit-transform: rotateZ(-90deg);
  position: absolute;
  top: 120px;
  left: 0;
  margin-left: -16px;
}

#columns {
  width: 6000px;
  height: 6000px;
}

#data {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 64px;
  background-color: #bbb;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.col {
  width: 200px;
  overflow: hidden;
  float: left;
}

.listing {
  box-sizing: border-box;
  white-space: normal;
  width: 100%;
  height: 200px;
  padding: 20px;
  overflow: hidden;
  background: white;
}


.listing h2 {
  margin: 0;
  font-size: 14px;
}

.img-wrapper {
  position: relative;
}

.price {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  padding: 4px 10px;
  background-color: rgba(0,0,0,0.4);
}

.not-transposed {
  -webkit-transform: rotateZ(0deg);
}

.transposed-left {
  -webkit-transform: rotateZ(-90deg);
}
.transposed-right {
  -webkit-transform: rotateZ(90deg);
}

